<ion-header>
  <ion-toolbar>
    <!--    <ion-title>Clasificación</ion-title>-->
    <div class="d-flex">
      <div class="p-2"><img class="logoFO"
                              src="https://firebasestorage.googleapis.com/v0/b/resultadosfutbol-46674.appspot.com/o/logofutbolovetense.jpeg?alt=media&token=b429e185-9113-4c32-9904-38112944ddb9"></div>
      <div class="ml-auto p-2"><img class="logoNacionalB"
                              src="https://firebasestorage.googleapis.com/v0/b/resultadosfutbol-46674.appspot.com/o/nacionalblogo.svg?alt=media&token=950dda2f-fb5e-441e-91cb-fd950947d331"></div>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable color="danger" value="segment1" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="segment1">
        <ion-label>Fase 1</ion-label>
      </ion-segment-button>
      <ion-segment-button disabled value="segment2">
        <ion-label>Fase 2</ion-label>
      </ion-segment-button>
      <ion-segment-button disabled value="segment3">
        <ion-label>Fase 3</ion-label>
      </ion-segment-button>
      <!--<ion-segment-button value="segment4">
        <ion-label>Fase 4</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment5">
        <ion-label>Fase 5</ion-label>
      </ion-segment-button>-->
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="fondo">
    <div *ngIf="selectedSegment == 'segment1'">
      <ion-item>
        <ion-label>
          GRUPO A
        </ion-label>
      </ion-item>
      <table class="table table-sm">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">EQUIPO</th>
          <th scope="col">PJ</th>
          <th scope="col">PG</th>
          <th scope="col">PE</th>
          <th scope="col">PP</th>
          <th scope="col">G</th>
          <th scope="col">PTS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of grupo1;let indice=index">
          <td data-label="#Nro">{{indice + 1}}</td>
          <td data-label="#equipo">
            <img align="center" class="imagen" width="28" height="25"
                 src="{{item.foto}}"
                 alt="">{{item.club}}
          </td>

          <td data-label="#pj">{{item.pj}}</td>
          <td data-label="#pg">{{item.pg}}</td>
          <td data-label="#pe">{{item.pe}}</td>
          <td data-label="#pp">{{item.pp}}</td>
          <td data-label="#g">{{item.gf}}:{{item.gc}}</td>
          <td data-label="#pt">{{item.tp}}</td>
        </tr>
        </tbody>
      </table>
      <ion-item>
        <ion-label>
          GRUPO B
        </ion-label>
      </ion-item>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">EQUIPO</th>
          <th scope="col">PJ</th>
          <th scope="col">PG</th>
          <th scope="col">PE</th>
          <th scope="col">PP</th>
          <th scope="col">G</th>
          <th scope="col">PTS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of grupo2;let indicee=index">
          <td data-label="#Nro">{{indicee + 1}}</td>
          <td data-label="#equipo"><img align="center" class="imagen" width="28" height="25"
                                        src="{{item.foto}}"
                                        alt="">{{item.club}}</td>
          <td data-label="#pj">{{item.pj}}</td>
          <td data-label="#pg">{{item.pg}}</td>
          <td data-label="#pe">{{item.pe}}</td>
          <td data-label="#pp">{{item.pp}}</td>
          <td data-label="#g">{{item.gf}}:{{item.gc}}</td>
          <td data-label="#pt">{{item.tp}}</td>
        </tr>
        </tbody>
      </table>
      <ion-item>
        <ion-label>
          GRUPO C
        </ion-label>
      </ion-item>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">EQUIPO</th>
          <th scope="col">PJ</th>
          <th scope="col">PG</th>
          <th scope="col">PE</th>
          <th scope="col">PP</th>
          <th scope="col">G</th>
          <th scope="col">PTS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of grupo3;let indicee=index">
          <td data-label="#Nro">{{indicee + 1}}</td>
          <td data-label="#equipo"><img align="center" class="imagen" width="28" height="25"
                                        src="{{item.foto}}"
                                        alt="">{{item.club}}</td>
          <td data-label="#pj">{{item.pj}}</td>
          <td data-label="#pg">{{item.pg}}</td>
          <td data-label="#pe">{{item.pe}}</td>
          <td data-label="#pp">{{item.pp}}</td>
          <td data-label="#g">{{item.gf}}:{{item.gc}}</td>
          <td data-label="#pt">{{item.tp}}</td>
        </tr>
        </tbody>
      </table>
      <ion-item>
        <ion-label>
          GRUPO D
        </ion-label>
      </ion-item>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">EQUIPO</th>
          <th scope="col">PJ</th>
          <th scope="col">PG</th>
          <th scope="col">PE</th>
          <th scope="col">PP</th>
          <th scope="col">G</th>
          <th scope="col">PTS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of grupo4;let indicee=index">
          <td data-label="#Nro">{{indicee + 1}}</td>
          <td data-label="#equipo"><img align="center" class="imagen" width="28" height="25"
                                        src="{{item.foto}}"
                                        alt="">{{item.club}}</td>
          <td data-label="#pj">{{item.pj}}</td>
          <td data-label="#pg">{{item.pg}}</td>
          <td data-label="#pe">{{item.pe}}</td>
          <td data-label="#pp">{{item.pp}}</td>
          <td data-label="#g">{{item.gf}}:{{item.gc}}</td>
          <td data-label="#pt">{{item.tp}}</td>
        </tr>
        </tbody>
      </table>
      <ion-item>
        <ion-label>
          GRUPO E
        </ion-label>
      </ion-item>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">EQUIPO</th>
          <th scope="col">PJ</th>
          <th scope="col">PG</th>
          <th scope="col">PE</th>
          <th scope="col">PP</th>
          <th scope="col">G</th>
          <th scope="col">PTS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of grupo5;let indicee=index">
          <td data-label="#Nro">{{indicee + 1}}</td>
          <td data-label="#equipo"><img align="center" class="imagen" width="28" height="25"
                                        src="{{item.foto}}"
                                        alt="">{{item.club}}</td>
          <td data-label="#pj">{{item.pj}}</td>
          <td data-label="#pg">{{item.pg}}</td>
          <td data-label="#pe">{{item.pe}}</td>
          <td data-label="#pp">{{item.pp}}</td>
          <td data-label="#g">{{item.gf}}:{{item.gc}}</td>
          <td data-label="#pt">{{item.tp}}</td>
        </tr>
        </tbody>
      </table>
      <ion-item>
        <ion-label>
          GRUPO F
        </ion-label>
      </ion-item>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">EQUIPO</th>
          <th scope="col">PJ</th>
          <th scope="col">PG</th>
          <th scope="col">PE</th>
          <th scope="col">PP</th>
          <th scope="col">G</th>
          <th scope="col">PTS</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of grupo6;let indicee=index">
          <td data-label="#Nro">{{indicee + 1}}</td>
          <td data-label="#equipo"><img align="center" class="imagen" width="28" height="25"
                                        src="{{item.foto}}"
                                        alt="">{{item.club}}</td>
          <td data-label="#pj">{{item.pj}}</td>
          <td data-label="#pg">{{item.pg}}</td>
          <td data-label="#pe">{{item.pe}}</td>
          <td data-label="#pp">{{item.pp}}</td>
          <td data-label="#g">{{item.gf}}:{{item.gc}}</td>
          <td data-label="#pt">{{item.tp}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</ion-content>
