<ion-header>
  <ion-toolbar>
    <ion-title>Partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>GRUPO A</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="container">
          <p>Fecha 1</p>
        <!--  <table class="table table-sm">
            <tbody>
            <tr>
              <td style="width:50px;">25.06</td>
              <td style="width:150px;" align="center">12 de Junio</td>
              <td style="width:30px;" align="center">1</td>
              <td style="width:30px;" align="center">0</td>
              <td style="width:150px;" align="center">Ovetense</td>
            </tr>
            <tr>
              <td style="width:50px;">25.06</td>
              <td style="width:150px;" align="center">12 de Junio</td>
              <td style="width:30px;" align="center">1</td>
              <td style="width:30px;" align="center">0</td>
              <td style="width:150px;" align="center">Ovetense</td>
            </tr>
            </tbody>
          </table>-->
          <table class="table table-sm">
            <tbody>
            <tr *ngFor="let item of grupo1fecha1fase1">
              <td style="width:50px;">{{item.fecha}}</td>
              <td style="width:150px;" align="center">{{item.equipolocal}}</td>
              <td style="width:30px;" align="center">{{item.golesequipolocal}}</td>
              <td style="width:30px;" align="center">{{item.golesequipovisita}}</td>
              <td style="width:150px;" align="center">{{item.equipovisita}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Second Content
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
